body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.option{
    display: block;
    margin-bottom: 0.25em;
}

.check{
    padding-left: 1.2em;

}

.check__input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box{
    position: absolute;
    margin-top: 0.2em;
    margin-left: -1em;
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.05em;
    background-color: white;
    box-shadow: 0 0 0 0.1em #4A90E2;
}

.check__input:checked + .check__box{
    background-color: violet;
    background-image: url(../images/check.svg);
}

.check__input:focus + .check__box{
    box-shadow: 0 0 0 0.1em #4A90E2;
    box-shadow: 0 0 0 0.2em green;
}

.check__input:disabled + .check__box{
    box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box{
    background-color: grey;
}

