body {
  font-family: sans-serif;
  line-height: 1.5;
}

input {
  padding: 8px;
  font-family: inherit;
}

label {
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 8px;
}

button {
  max-width: 100px;
}

.range {
  padding: 0;
}

.textarea {
  width: 500px;
}
.textarea input,
.textarea textarea {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

.textarea label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.textarea textarea {
  resize: none;
  /*  возможность изменения размера */
}

/* select */

.select label {
  display: block;
  margin-bottom: 4px;
}

.select select {
  font-size: 16px;
}

/* --DATALIST-- */

/* FIELDSET */

/* .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.form-group p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
} */

.contact-form {
  width: 500px;
  min-height: 200px;

  padding: 25px;
  margin: 0 auto;
  box-shadow: 0 10px 10px 0 #ccc;

  margin-bottom: 50px;
}

.contact-form-input,
.contact-form-button {
  width: 100%;
  padding: 10px;

  border: 1px solid #000;
  border-radius: 4px;
}

.contact-form-input + .contact-form-input {
  margin-top: 20px;
}

.contact-form-button {
  display: block;

  width: 200px;
  background-color: rgb(231, 204, 204);

  margin: 0 auto;
  margin-top: 10px;
}

.contact-form-input:focus {
  outline: none;
}

.contact-form-input:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.contact-form-input:focus:not(:placeholder-shown):valid {
  border-color: tomato;
}

.contact-form-group {
  margin-top: 20px;
}
/* .contact-form-radio {
} */
